a.parent-click {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0px;
    text-decoration: none;
    z-index: 10;
    overflow: hidden;
    background-color: white;
    opacity: 0;
    filter: alpha(opacity=0);
}